@model CadastroWebApp.Models.Cliente

<h2>Cadastrar Cliente</h2>

<form method="post">
    <label>Nome:</label>
    <input type="text" name="Nome" required /><br>

    <label>Email:</label>
    <input type="email" name="Email" /><br>

    <label>Data de Nascimento:</label>
    <input type="date" name="DataNascimento" /><br>

    <label>Gênero:</label>
    <input type="text" name="Genero" /><br>

    <button type="submit">Salvar</button>
</form>
